@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* =============tailwind config css start=========== */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* ==============tailwind config css end============= */


html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #f6f6f6;
}


/* ================== dashboard scroll bar style strt =============== */

.dashboard-scrollbar {
  scrollbar-color: #FFC248 #ffffff00;
  scrollbar-width: thin;
}

.dashboard-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.dashboard-scrollbar::-webkit-scrollbar-thumb {
  background: #FFC248; 
  border-radius: 4px 0px 0px 4px;
}




/* ================== dashboard scroll bar style end =============== */